.flag{
    max-width: 100px;
}
.btn-color{
    background-color: #EB00AE;
}
.btn-color:hover{
    background-color: #8a0065;
}

.gayHeart{
    max-width: 100px;
}

.social-media-img{
    max-width: 30px;
}
